<div class="card">
  <div class="card-body">
    <h1 class="text-center logo">Picstagram</h1>
    <p class="text-center">
        Sign up to see photos and videos from your friends.
    </p>
    <p>
      <button class="btn btn-primary btn-block btn-sm">
        <i class="fab fa-facebook-square"></i>
        Login With Facebook
      </button>
    </p>
    <div class="row">
      <div class="col-md-5">
        <hr>
      </div>
      <div class="col-md-2">
        OR
      </div>
      <div class="col-md-5">
        <hr>
      </div>
    </div>
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Mobile Number or Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Full Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Password">
      </div>

      <button class="btn btn-primary btn-block btn-sm">Sign Up</button>
    </form>

    <p class="text-center mt-4">
      By signing up, you agree to our <a href="#">Terms</a> , <a href="#">Data Policy</a> and <a href="#">Cookies Policy</a>
    </p>
  </div>
</div>
<div class="card mt-2">
  <div class="text-center card-body">
      Have an account? <a href="#">Log In</a>
  </div>
</div>
