<div class="card">
  <div class="card-body">
    <h1 class="text-center logo">Picstagram</h1>

    <form action="" class="mt-4">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Mobile Number, Username or Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-sm" placeholder="Password">
      </div>

      <button class="btn btn-primary btn-block btn-sm">Login</button>
    </form>

    <div class="row mt-4">
      <div class="col-md-5">
        <hr>
      </div>
      <div class="col-md-2">
        OR
      </div>
      <div class="col-md-5">
        <hr>
      </div>
    </div>

    <p class="mt-4">
      <button class="btn btn-primary btn-block btn-sm">
        <i class="fab fa-facebook-square"></i>
        Login With Facebook
      </button>
    </p>
  </div>
</div>
<div class="card mt-2">
  <div class="text-center card-body">
      Don't have an account? <a routerLink="/accounts/emailsignup">Sign Up</a>
  </div>
</div>
